@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption|PT+Sans:400,700');

html {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  background: #1c1c1c;
  color: #303030;
}
@media (min-width: 800px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}

h1, h2, h3, h4, h5 {
  font-family: 'PT Sans Caption', sans-serif;
  letter-spacing: 1px;
}

a {
  color: #0c4076;
}

.align-right {
  text-align: right;
}

.header {
  overflow-y: hidden;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(45deg, #ffffff 0%, #ffffff 65%, #0c4076 65%, #0c4076 85%, #c6363c 85%, #c6363c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ffffff 0%, #ffffff 65%, #0c4076 65%, #0c4076 85%, #c6363c 85%, #c6363c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ffffff 0%, #ffffff 65%, #0c4076 65%, #0c4076 85%, #c6363c 85%, #c6363c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  text-shadow:
  -1px -1px 0 #fff,  
   1px -1px 0 #fff,
   -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

@media (min-width: 900px) {
  .header {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(45deg, #ffffff 0%, #ffffff 60%,  #0c4076 60%, #0c4076 85%, #c6363c 85%, #c6363c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #ffffff 0%, #ffffff 60% , #0c4076 60%, #0c4076 85%, #c6363c 85%, #c6363c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #ffffff 0%, #ffffff 60%,  #0c4076 60%, #0c4076 85%, #c6363c 85%, #c6363c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    text-shadow: none;
  }
}

.header-container {
  box-shadow: 9.988px 19.602px 35px 0px rgba(0, 0, 0, 0.5);
  margin: 3em 2em 0;
  padding: 2em;
}

@media (min-width: 975px) {
  .header-container {
    padding: 1em 5em;
  }
}

.header-bar {
  font-family: 'PT Sans Caption', sans-serif;  
}

@media (min-width: 975px) {
  .header-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.logo img {
  max-width: 100%;
  height: auto;
  max-height: 1.5em;
}

@media (min-width: 975px) {
  .logo {
    max-width: 50%;
  }
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-link, .menu a {
  margin: 0 .5em;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.0em;
  text-decoration: none;
  color: black;
}

@media (min-width: 975px) {
  .menu-link, .menu a {
    color: #fff;
  }
}

.menu-link:first-child {
  margin-left: 0;
}

.menu-link:last-child {
  margin-right: 0;
}

.header-description {
  font-size: 1.5em;
  line-height: 1.2;
  font-weight: 200;
  padding: 5% 20% 5% 0;
  color: black;
}

@media (min-width: 975px) {
  .header-description { 
    font-size: 1.8em;
    padding: 1em 33% 1em 10%;
    color: #303030;
    position: relative;
  }

  .header-description::before {
    content: '';
    display: block;
    width: 8%;
    height: 2px;
    background: #c6363c;
    position: absolute;
    left: 0;
    top: 1.5em;
  }
}

.header-contact {
  background: #fcfcfc;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: .8em;
  font-weight: bold; 
  letter-spacing: 1px;
  background-image: -moz-linear-gradient( -31deg, rgb(246,246,246) 0%, rgb(206,206,206) 100%);
  background-image: -webkit-linear-gradient( -31deg, rgb(246,246,246) 0%, rgb(206,206,206) 100%);
  background-image: -ms-linear-gradient( -31deg, rgb(246,246,246) 0%, rgb(206,206,206) 100%);
  box-shadow: 4.388px 4.092px 6.51px 0.49px rgba(223, 223, 223, 0.9);
  padding: 1em 2em;
  text-shadow: none;
}

@media (min-width: 975px) {
  .header-contact {
    margin: 0 0 10% 10%;
    
  } 
}

.main-content {
  box-shadow: -2px -3.464px 13px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: -2em;
  background: #fff;
}

.events {
  padding-top: 2em;
  margin: 0;
  padding: 0;
  position: relative;
  background: #0c4687;
  overflow: hidden;
}


@media (min-width: 800px) {
  .events {
    padding: 5% 0% 5% 17%;
    display: flex;   
    align-items: center; 
    background: #fff;
  }
}

.events-container {
  order: 1;
  color: #fff;
  z-index: 2;
  position: relative;
  padding: 5% 10%;
}

@media (min-width: 800px) {
  .events-container {
    color: #000;  
    max-width: 50%;
    padding: 5% 1em 5% 1.5%;
  }
}



.events-pic {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
}

@media (min-width: 800px) {
  .events-pic {
    max-width: 100%;
    position: relative;
    order: 2;
    top: 8px;
  }
}

.events-date {
  font-weight: bold;
  padding: 1em 0;
  position: relative;
}

.events-description {
  line-height: 1.5;

}

@media (min-width: 800px) {
  .events-date {
    font-weight: bold;
    padding: 3em 2em 0 10%;
    position: relative;
  }
  
  .events-date::before {
    content: '';
    display: block;
    width: 2px;
    height: 2em;
    background: #c6363c;
    position: absolute;
    left: 10%;
    top: 0;
  }
  
  .events-description {
    margin: 1em 0% 0 10%;
    text-align: justify;
  }
}

.about {
  background: #fff;
  margin: 0;
  padding: 3em 10%;
}

.about-header {
  text-align: center;
}

.about-description {
  max-width: 40em;
  margin: 0 auto;
  line-height: 1.5;
}

.about-img {
  max-width: 100%;
  height: auto;
  margin: 2em auto;
  display: block;
}

@media (min-width: 800px) {
  .about-description {
    padding: 10em 0 0;
    position: relative;
    text-align: justify    
  }
  
  .about-description::before {
    content: '';
    display: block;
    width: 2px;
    height: 7em;
    background: #c6363c;
    position: absolute;
    left: calc(50% - 1px);
    top: 0;
  }

  .about-list {
    display: flex;
    max-width: 1025px;
    margin: 0 auto;
  }

  .list {
    width: 50%;
    box-sizing: border-box;
  }
  .list:first-child {
    padding-right: 1em;
  }
  .list:last-child {
    padding-left: 1em;
  }

}

.members {
  padding: 1em 10%;
  position: relative;
  background-color: #f2f2f2;
/* box-shadow: 2.194px 2.046px 22.32px 1.68px rgba(223, 223, 223, 0.9); */
}

.members-head {
  margin-bottom: 3em;
}

@media (min-width: 800px) {

  .members-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .members {
    padding: 2em;
    position: relative;
    margin: 3em 10% 0;
    }
}


.members-header {
  margin: 1em 0;
}

@media (min-width: 800px) {
  .members-header {
    position: relative;
  }

  .card-parent {
    margin: 0 -2.5%;
  }
}

.members-locations {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.location {
  margin: 0;
  padding: 1em;
  border-bottom: 2px solid #777777;
  background: #fff;
  cursor: pointer;
  line-height: 1;
  font-size: .8em;
  text-align: center;
}

.location.selected{
  border-bottom: 2px solid #c6363c;
}

.card-parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  position: relative;
  z-index: 5;
}

.card {
  width: 50%;
  box-sizing: border-box;
  padding: 1em;
  text-align: center;
}

.card.hidden {
  display:none;
}

@media (min-width: 800px) {
  .card {
    width: 20%;
  }
}

.avatar {
  overflow: hidden;
  text-align: center;
  height: 150px;
  width: 150px;
  border-radius: 150px;
  border: 2px solid white;
  margin: 0 auto 2em;
}

.avatar img {
  width: 110%;
  margin-left: -5%;
  margin-top: -5%;
  height: auto;
  filter: grayscale(100%);
  
}

.bio-name {
  text-transform: uppercase;
  font-size: .8em;
  
}

.bio-description {
  text-transform: uppercase;
  color: #0c4076;
  font-weight: bold;
  font-size: .8em;
}

.press {
  padding: 5% 10%;
}

.contact {
  padding: 5% 10%;
}

.press-header {
  text-align: right;
  position: relative;
  padding-bottom: 3em;
}

.press-header::after {
  content: '';
  display: block;
  width: 2px;
  height: 2em;
  background: #c6363c;
  position: absolute;
  right: 5%;
  bottom: 0;
}

.press-site {
  text-transform: uppercase;
  color: #888;
}

.press-link {
  text-decoration: none;
  padding: 2px 0;
  line-height: 1.5;
  border-bottom: 1px solid #888;
  color: #303030;
}

@media (min-width: 800px) {
  .press-body { 
    display: flex;
    align-items: flex-start;
  }
  .press-section {
    box-sizing: border-box;
    width: 50%;
    padding-right: 2em;
    color: #888;
  }
  .press-section:last-child {
    padding-right: 0em;
  }
}

.contact-header::after {
    content: '';
    display: block;
    width: 2px;
    height: 2em;
    background: #c6363c;
    position: absolute;
    left: 5%;
    bottom: 0;
}

.contact-header {
  padding-bottom: 3em;
  position: relative;
}

@media (min-width: 800px) {
  .contact-body { 
    display: flex;
    align-items: flex-start;
  }
  .contact-section {
    box-sizing: border-box;
    width: 50%;
    padding-right: 2em;
  }
  .contact-section:last-child {
    padding-right: 0em;
  }
}

.contact-subheader {
  margin: 0 0 1.5em 0;
  text-transform: uppercase;
}

.form-field {
  margin-bottom: 1.5em;
}

input,
textarea,
select {
  width: 100%;
  padding: .5em 1em;
  border: none;
  border-bottom: 1px solid #eee;
  margin-bottom: 1px;
  background: #fff;
  border-radius: 0;
  box-sizing: border-box;
  max-width: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #303030;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #303030;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #303030;
}
:-moz-placeholder { /* Firefox 18- */
  color: #303030;
}

select {
  -webkit-appearance: none;
  background: url(../images/select-arrow.png) no-repeat 95% center;
}

textarea {
  height: 45px;
}

input:focus,
textarea:focus,
select:focus {
  border-bottom: 2px solid #c6363c;
  margin-bottom: 0;
  outline: none;
}


.form-submit {
  width: 120px;
  background: #c6363c;
  box-shadow: 4.388px 4.092px 6.51px 0.49px rgba(223, 223, 223, 0.9);
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: .8em;
  letter-spacing: 1px;
  padding: .75em 2em;
  font-weight: bold;  
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  border: 0;
  }

  .form-submit:hover {
    opacity: .75;
  }

.footer {
  background: #d5d5d5;
  color: #030303;
  text-align: center;
  font-size: .7em;
  margin: 0;
  padding: 1em 1em 1em;
}

.footer p {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-size: 1.2em;
}

.footer .credit {
  color: #777777;
}

.footer a {
  color: #777777;
  text-decoration: none;
}


.social {
  box-sizing: border-box;
  display: inline-block;
  margin: 1em .5em;
}

.social svg,
.social img{
  height: 45px;
  width: 45px;
}
