<h3 class="section-header center">About</h3>
<p class="about-description">{{ $.Site.Params.about}}</p>

<img class="about-img" src="/images/about.jpg" alt="Serbian Entrepreneurs"/>

<div class="about-list">
	<div class="list">
		<h4 class="section-subheader">Membership Benefits</h4>
		<ul>
			<li>Invitation to all events (+1)</li>
            <li>Opportunity to help, mentor, and invest in startups</li>
            <li>Venue to present your business and get help</li>
			<li>Access to closed forums &amp; full member directory</li>
			<li>Vote on organization matters</li>
			<li>Due diligence help for investors</li>
			<li>Pitch assistance for founders</li>
            <li>Temporary office space for visiting members</li>
		</ul>	
	</div>
	<div class="list">
		<h4  class="section-subheader">Application Process</h4>
		<ul>
			<li>Attend one of our events as a guest</li>
            <li>Get endorsements from two existing members</li>
            <li>Interview with a steering committee member</li>
            <li>Help another member in the first month</li>
            <li>Pay annual membership dues</li>
		</ul>
		<a href="https://medium.com/serbian-entrepreneurs">
			Read more about becoming our member
		</a>
	</div>
</div>