<h3 class="about-header">About</h3>
<p class="about-description">{{ $.Site.Params.about}}</p>

<img class="about-img" src="/images/about.jpg" alt="Serbian Entrepreneurs"/>

<div class="about-list">
	<div class="list">
		<h4>Membership Benefits</h4>
		<ul>
			<li>Invitation to all Events (+1)</li>
			<li>Opportunity to present (visitors can pitch with additional approval)</li>
			<li>Open Participation in even discussions (visitors observe)</li>
			<li>Can post to group’s forums &amp; access member directory</li>
			<li>Vote on club matters</li>
			<li>Due diligence help for investors</li>
			<li>Pitch and startup ops assistance for founders</li>
		</ul>	
	</div>
	<div class="list">
		<h4>Application Process</h4>
		<ul>
			<li>Write Something Here</li>
		</ul>
		<a href="https://medium.com/serbian-entrepreneurs" target="_blank">
			Link to Maja's Blog
		</a>
	</div>
</div>