<div id="header">
  {{ partial "header.html" . }}
</div>
<div class="main-content">
  <div class="events section" id="events">
    {{ partial "events.html" . }}
  </div>
  <div class="about section" id="about">
    {{ partial "about.html" . }}
  </div>
  <div class="members" id="members">
    <div class="section">
        {{ partial "members.html" . }}
    </div>
  </div>
  <div class="press section" id="press">
      {{ partial "press.html" . }}
    </div>
  <div class="contact section" id="contact">
    {{ partial "contact.html" . }}
  </div>
  <div class="footer" id="footer">
      {{ partial "footer.html" . }}
    </div>
</div>
