
<div>
	<h3 class="section-header">Apply For Assistance</h3>
	<div class="contact-body">
		<div class="contact-section">
			<h4 class="section-subheader">Office Space</h4>
			<p>If you are looking for temporary individual coworking office space in San Francisco, please email us at contact@serbianentrepreneurs.com with your dates.</p>

		</div>
		<div class="contact-section">
            <h4 class="section-subheader">Startup Support</h4>
            <p class="contact-description">If you are a startup interested in getting help from Serbian Entrepreneurs, please <a href="https://docs.google.com/forms/d/e/1FAIpQLSc3guHqUlTUu9lmrCvLt8x1M3UqGukKpM6rVQUyHFxe2e07GA/viewform?usp=send_form">fill out this form</a>.
			<!--
			<form action="https://formspree.io/{{$.Site.Params.email}}"
			method="POST">
				<div class="form-field">
					<input type="text" name="name" placeholder="Name" required>		
				</div>
				<div class="form-field">
					<input type="email" name="email" placeholder="Email" required>
				</div>
				<div class="form-field">
					<select name="_subject" required>
						<option>Subject</option>
						<option value="General">General</option>
						<option value="Office Space">Office Space</option>
						<option value="Press">Press</option>
					</select>
				</div>
				<div class="form-field">
					<textarea name="message" placeholder="Message" required></textarea>
				</div>
				<div class="form-field align-right">
					<input type="submit" value="Send" class="form-submit">
				</div>
			</form>
			-->
		</div>
	</div>
</div>

