
<div class="events-pic">
		<img src="/images/events.png" class="events-pic" />
	</div>
<div class="events-container">
	<h3 class="events-title">Events</h3>
	<p class="events-date">
        Next San Francisco event : {{$.Site.Params.NextMeetingSF.Month}} {{$.Site.Params.NextMeetingSF.Day}}<br>
        Next New York event : {{$.Site.Params.NextMeetingNYC.Month}} {{$.Site.Params.NextMeetingNYC.Day}}
    </p>
	<p class="events-description">Our monthly events provide a venue for (fundraising) startup pitches and moderated sharing of lessons learned. These meetings also feature ample networking opportunity during our standard three-hour block.</p>
</div>
