
<div class="events-pic">
		<img src="/images/events.png" class="events-pic" />
	</div>
<div class="events-container">
	<h3 class="events-title">Events</h3>
	<p class="events-date">The next event is {{$.Site.Params.NextMeeting.Month}} {{$.Site.Params.NextMeeting.Day}}</p>
	<p class="events-description">Our monthly events focus on showcasing startups from Serbia, providing a venue for a (fundraising) startup pitches, and moderated sharing of lessons learned. These meetings also provide ample networking opportunity during our standard three-hour block.</p>
</div>
