<div class="row">
    <p class="social-media">
        <a class="social" target="_blank" href="https://facebook.com/SerbianEnt">
            {{ partial "facebook.html" . }}
        </a>
        <a class="social" target="_blank" href="https://twitter.com/SerbianEnt">
           {{ partial "twitter.html" . }}
        </a>
        <a class="social" target="_blank" href="https://medium.com/serbian-entrepreneurs">
            {{ partial "medium.html" . }}
        </a> 
        <a class="social" target="_blank" href="https://www.linkedin.com/company/18297366/">
            {{ partial "linkedin.html" . }}   
        </a> 
    </p>
    <p>
        181 2nd St., San Francisco, CA 94105
    </p>
    <p class="credit">
        &copy; {{ .Now.Year }} <a href="http://serbianentrepreneurs.com">SerbianEntrepreneurs.com</a>. All Rights Reserved.
    </p>
</div>

<script src="/script/script.js"></script>