<div>
	<h3 class="section-header right">In the Press</h3>
	<h4 class="section-subheader">2017</h4>
	<div class="press-body">
		<div class="press-section">
			<p>
				<a href="https://startit.rs/pet-najvecih-iskoraka-za-srpski-it-u-2017/"
				   target="_blank" rel="noopener noreferrer">
					<span class="press-site">
						Startit:
					</span>
                    Pet najvećih iskoraka za srpski IT u 2017.
				</a>
			</p>
			<p>
				<a href="https://startit.rs/tihomir-bajic-serbian-entrepreneurs-sam-pokrenuo-da-bismo-umrezili-dijasporu-i-pomogli-razvoj-startapa-u-srbiji/"
				   target="_blank" rel="noopener noreferrer">
					<span class="press-site">
						Startit:
					</span>
                    Tihomir Bajić: Serbian Entrepreneurs sam pokrenuo da bismo umrežili dijasporu i pomogli razvoj startapa u Srbiji
                </a>
			</p>
			<p>
				<a href="http://www.telegraf.rs/english/2912580-serbian-entrepreneurs-these-entrepreneurs-of-serbian-origin-are-the-bridge-between-serbia-and-silicon-valley-and-they-can-help-you-succeed-photo"
				 target="_blank" rel="noopener noreferrer">
					<span class="press-site">
						Telegraf:
					</span>
					Serbian Entrepreneurs: These entrepreneurs of Serbian origin are the bridge between Serbia and Silicon Valley and they can
					help you succeed
				</a>
			</p>
			<p>
				<a href="https://www.b92.net/tehnopolis/vesti.php?yyyy=2017&mm=11&nav_id=1326830" target="_blank" rel="noopener noreferrer">
					<span class="press-site">
						B92.net Tehnopolis:
					</span>
					Srpski preduzetnici iz Silicijumske doline doveli Gugl u Beograd
				</a>
			</p>
			<p>
				<a href="https://startit.rs/serbian-entrepreneurs-zatrazi-pomoc-za-svoj-startap-od-srpskih-kolega-u-americi/" target="_blank"
				 rel="noopener noreferrer">
					<span class="press-site">
						Startit:
					</span>
					Zatraži pomoć za svoj startap od srpskih kolega u Americi
				</a>
			</p>
		</div>
		<div class="press-section">
			<p>
				<p>For press inquiries, please email contact@serbianentrepreneurs.com</p>
				<p>Feel free to references our shared assets and please consult our brand guidelines.</p>
			</p>
			<a class="press-link" href="https://drive.google.com/drive/folders/0B0727puG_7LvUUZpazBUQkVCc1k" target="_blank" rel="noopener noreferrer">
				Media Folder
			</a>
		</div>
	</div>
</div>