
<div>
	<h3 class="press-header">See in the Press</h3>
	<h4 class="press-subheader">2017</h4>			
	<div class="press-body">
		<div class="press-section">
			<p>
				<a class="press-link" href="https://startit.rs/serbian-entrepreneurs-zatrazi-pomoc-za-svoj-startap-od-srpskih-kolega-u-americi/" target="_blank" rel="noopener noreferrer">
					<span class="press-site">
						Startit:
					</span>
					Zatraži pomoć za svoj startap od srpskih kolega u Americi
				</a>
			</p>
		</div>
		<div class="press-section">
			<p>This is some text. You'll need to add something here please and thank you before going live.</p>
			<a class="press-link" href="https://drive.google.com/drive/folders/0B0727puG_7LvUUZpazBUQkVCc1k"  target="_blank" rel="noopener noreferrer">
				Media Folder
			</a>
		</div>
	</div>
</div>

	