<link rel="canonical" href="{{ .Permalink }}" />

<!-- Open graph -->
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:locale " content="{{.Site.LanguageCode}}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:title" content="{{ .Site.Title }}" />
<meta property="og:description" content="{{ .Site.Params.description }}" />
<meta property="og:image" content="{{ .Site.Params.SocialImage }}" />
<meta property="og:type" content="article" />

<!-- Twitter -->
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta name="twitter:description" content="{{ .Site.Params.description }}">
<meta name="twitter:title" content="{{ .Site.Title }}" />
<meta name="twitter:image" content="{{ .Site.Params.SocialImage}}" />
<meta name="twitter:card" content="summary" />
